.App {
  max-width: 1024px;
  margin: auto;
  padding: 0 15px;
}

.App-header {
  height: 80px;
  padding: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.ui.page.modals.transition.visible {
  display: flex !important;
}